.partners-mosaic {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.partners-mosaic .partners-item {
	width: 32%;
	border: 3px solid #00abff;
	border-radius: 16px;
	box-sizing: border-box;
	padding: 2rem;
	margin-bottom: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.partners-mosaic .partners-item img {
	width: 100%;
	height: auto;
}

.tokenomics .gobal-grid-div {
	padding-top: 0px;
}

.tokenomics .grid-gobal.why {
	grid-template-columns: 1fr 1.5fr;
}

.tokenomics .road-item strong {
	color: #00abff;	
}

.why-blue-pepe .why-blue-pepe-img img {
	border-radius: 24px;
}

.header-image {
	display: flex;
	flex-wrap: wrap;
}	

.heroTwo {
	font-size: 2rem;
}


@media screen and (max-width: 991px) {
	.partners-mosaic .partners-item {
		width: 49%;
	}

	.flex-wrap-responsive {
		display: flex;
		flex-wrap: wrap;
	}

	.tokenomics .road-item {
		text-align: left;
	}

	.tokenomics .grid-gobal.why {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 585px) {
	.partners-mosaic .partners-item {
		width: 100%;
	}
}